name: Build GalaxyPCHost

on:
  workflow_dispatch:
  push:

jobs:
  build:
    name: Build on Windows
    runs-on: windows-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup .NET Framework
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: nuget restore GalaxyPCHost.csproj

      - name: Build EXE
        run: msbuild GalaxyPCHost.csproj /p:Configuration=Release /p:Platform="Any CPU"

      - name: Upload GalaxyPCHost EXE
        uses: actions/upload-artifact@v4
        with:
          name: GalaxyPCHost
          path: |
            **/bin/Release/*.exe
