name: Build GalaxyPCHost

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 6.0.x

    - name: Restore
      run: dotnet restore

    - name: Build
      run: dotnet build -c Release

    - name: Publish
      run: dotnet publish -c Release -r win-x64 --self-contained true

    - name: Upload EXE
      uses: actions/upload-artifact@v4
      with:
        name: GalaxyPCHost
        path: bin/Release/net6.0-windows/win-x64/publish/
