name: Build GalaxyPCHost

on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Build EXE
        run: dotnet build GalaxyPCHost.csproj -c Release

      - name: Upload EXE
        uses: actions/upload-artifact@v4
        with:
          name: GalaxyPCHost
          path: |
            **/bin/Release/**/*.exe
